nav {
    display:flex;
    justify-content: space-between;

}
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(211, 205, 205, 0.829);
}
.name  { 
    padding:20px;
    margin:0px;
    font-size:large;
    font-family:sofia;
    font-style: italic;

}
 .name::first-letter {
    font-size: 200%;
    color:red;
}
.navbar {
    padding:15px;
    margin: 0;
    font-size: medium;
    font-weight: bold;
    font-style: normal;
    font-family: monospace;
}
.navbar a {
    padding: 0 9px;
    text-decoration: none;
    color: black;
}
.navbar a:hover {
    color:blue;
}
.profilepic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.image {
    width: 300px;
    height: 300px;
    margin:0 auto;
}
img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
   
}
.imagetext {
    padding: 0 40px;
    margin: 70px 0;    
}
.imagetext h3,p,li {
    color:lightslategray;
    margin: 10px 0;  
}
.download, .contact {
    border:1px solid black;
    border-radius: 20px;
    padding:3px 16px;
    text-align: center;
    margin-right:10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    font-size: larger;
}
.download:hover, .contact:hover {
    background-color: lime;
    color:white;
    cursor: pointer;
}
.detail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px;
}
.content {
    flex:50%;
    max-width:50%
}
@media screen and (max-width:800px){
    .name{
        font-size: medium;
    }
    .navbar {
        font-size: small;
    }
}
