* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
.profile-container {
    display:flex;
    justify-content: space-between;   
}
.profile-detail {
    flex:40%;
    max-width: 40%;
    height: 100%;
}
.work-detail{
    flex:60%;
    max-width: 60%;
    margin-left: 25px;
    line-height: 30px;
    height: 100%;
}
i {
    padding:0 15px;
}
.profile-pic {
    background-color: rgb(39, 63, 63);

}
img {
    width:90%;
    height:90%;
    border-radius: 50%;
    margin:auto;
    padding:20px;
}
.imagetext {
    text-align: center;
    color:white;
    font-style: italic;
    font-size: larger;
}
.profile-content {
    padding:10px;
    background-color: darkslategrey;
    height:100%;
    word-wrap:break-word;
    word-break: keep-all;
    
}
.protext {
    font-size: x-large;
    font-family: serif;
    font-style: italic;
    color:white;
    text-transform: uppercase;
}
.value{
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-size: large;
}
.year {
    margin-bottom: 20px;
    flex:30%;
}
 .dl {
     margin: 0;
     flex: 70%;
     text-align: left;
     font-size: large;
     text-transform: capitalize;
 }
h3 {
    font-size: x-large;
    text-transform: uppercase;
    font-style: normal;
    font-family: monospace;
}
@media screen and (max-width:800px){
    .value,.dl {
        font-size: smaller;
    }
    .protext,h3,p {
        font-size: smaller;
    
    }
    .profile-container{
        padding:0 5px;
;
    
    }
    .profile-content{
        height: 100%;
        line-height: 25px;
    }
    .imagetext h1{
        font-size: smaller;
    }
    i {
        padding: 0 5px;
    }
    .work-detail{
        line-height:20px;
    }
    h3{
        font-size: smaller;
    }
    img{
        padding: 3px;
    }
    
}
html{
    height:300px;
}